::-webkit-scrollbar {
   width: 5px;
   height: 5px;
}
::-webkit-scrollbar-thumb {
   background: linear-gradient(transparent, #00c65f ,#00c6ff, transparent);
   border-radius: 5px;
}

::-webkit-scrollbar-thumb:hover {
   background: linear-gradient(transparent, #00c6ff, #00c65f, transparent );
}

::-webkit-scrollbar-thumb:window-inactive {
   background: linear-gradient(transparent, #00c6ff, transparent);
}

::-webkit-scrollbar-thumb:horizontal{
        background: linear-gradient(to right, #00c65f ,#00c6ff, transparent);
        border-radius: 10px;
}
::-webkit-scrollbar-thumb:horizontal:hover {
   background: linear-gradient(to right, transparent, #00c6ff, #00c65f , transparent);
}
::-webkit-scrollbar-thumb:window-inactive {
   background: linear-gradient(transparent, #00c6ff, transparent);
}

::-webkit-scrollbar-track {
   border-radius: 5px;
   background: transparent;
}

/*Creator: AndersonPGS - https://github.com/AndersonPGS*/